@import url("https://fonts.googleapis.com/css?family=Raleway:600,900|ZCOOL+KuaiLe&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+SC&display=swap");

.App-header {
  color: grey;
}

.App-link {
  color: #61dafb;
}

:root {
  --black: #000;
  --white: #fff;
  --color-1: #000;
  --gutter: 2rem;
  --replace-offset: 50%;
  --replace-offset-2: calc((100% - var(--replace-offset)) * -1);
}

.logo {
  margin-left: 40px;
  margin-bottom: 0px;
  color: black;
  font-family: "Noto Sans SC", sans-serif;
  font-size: 1.7em;
  position: fixed;
  z-index: 1;
  font-weight: lighter;
  letter-spacing: -0.1rem;
  transition: all 0.1s ease-in-out;
  transform-origin: 50% 50%;
  font-weight: lighter;
}


.contact {
  width: 112px;
  height: 70px;
  font-family: "Raleway", sans-serif;
  font-weight: lighter;
  transform: rotate(90deg);
  transform-origin: top left;
  margin-left: 4rem;
  margin-top: 38rem;
  letter-spacing: 0.4rem;
  font-size: 1em;
  position: fixed;
  background: linear-gradient(
    to bottom,
    var(--mainColor) 0%,
    var(--mainColor) 100%
  );
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 4px 4px;
  color: #000;
  text-decoration: none;
  transition: background-size 0.2s;
  --mainColor: #b80000;
  z-index: 1;
}

.contact:hover {
  background-size: 4px 50px;
}

.container {
  position: relative;
  height: fit-content;
  padding-left: 100px;
  height: 700px;
}

.title {
  position: absolute;
  top: 130px;
  font-size: 3.9em;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.5rem;
}

.intro {
  position: absolute;
  top: 280px;
  font-size: 1.5em;
  font-family: "Raleway", sans-serif;
  line-height: 150%;
  padding-right: 55%;
}

.landscape {
  position: absolute;
  max-width: 52vw;
  max-height: 800px;
  top: 0;
  right: 0;
  z-index: -1;
  margin-top: 60px;
}
.gallery {
  background-color: black;
  height: 1000px;
  width: 100vw;
  z-index: -1;
}

.react-photo-gallery--gallery {
  margin-top: 50px;
  max-width: auto;
  margin-left: 100px;
  margin-right: 100px;
}

.text {
  margin-top: 80px;
  display: flex;
  flex-direction: roW;
  align-items: center;
  padding-top: 100px;
}

.tiret {
  background: white;
  height: 1px;
  width: 40px;
  margin-left: 100px;
}

.text_gallery {
  color: white;
  font-family: "Raleway", sans-serif;
  font-weight: lighter;
  font-size: small;
  letter-spacing: 0.2rem;
}

.text_workshop {
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 3em;
  letter-spacing: 0.3rem;
  margin-left: 100px;
  margin-top: 50px;
}

.photo_container {
  overflow: hidden;
}

.photos {
  transition: all 0.4s ease-in-out;
  opacity: 0.5;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}

.photos:hover {
  opacity: 1;
  filter: alpha(opacity=100); /* For IE8 and earlier */
}

.modal {
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.9);
  height: 650px;
  margin: 100px;
  border-radius: 20px;
}

.contents {
  display: flex;
  flex-direction: row;
  height: 650px;
  margin: 50px;
  align-items: center;
  align-content: center;
}

.close {
  color: white;
  float: right;
  font-size: 35px;
  font-weight: bold;
  margin-right: 15px;
  margin-top: 5px;
}

.close:hover {
  color: #b80000;
  text-decoration: none;
  cursor: pointer;
}

.container_photos {
  height: fit-content;
  width: 1800px;
}

.photos_modal {
  height: 500px;
  width: auto;
}

.modal_text {
  right: 0;
  color: white;
  text-align: justify;
  font-family: "Raleway", sans-serif;
  line-height: 150%;
  right: 0;
  margin-right: 50px;
  margin-left: 100px;
}

.video_banner {
  background-color: white;
  height: 800px;
  width: 100vw;
}

.video_yt {
  width: 100vw;
  height: 800px;;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  background-color: black;
  bottom: 0;
  height: 250px;
  width: 100%;
  z-index: -1;
}

.container_footer {
  height: 30px;
  width: 430px;
  left: 0;
  display: flex;
  flex-direction: row;
  margin-left: 50px;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
}

.credit_text {
  color: white;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.1rem;
  font-size: 0.8em;
  right: 0;
}

.emoticone {
  font-size: 1.4em;
  left: 0;
  margin: 15px;
}

.icons {
  height: 40px;
  width: 300px;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  margin-right: 20px;
  margin-bottom: 20px;
  justify-content: space-around;
}

.icon {
  transition: all 0.1s ease-in-out;
  transform-origin: 50% 50%;
  width: 30px;
  height: 30px;
}

.icon:hover {
  transform: scale(1.15);
}
